:root {
  --primary-color-01: #00171f;
  --primary-color-02: #003459;
  --primary-color-03: #59a8ed;

  // --primary-color-01: #C9DAEA;
  // --primary-color-02: #03F7EB;
  // --primary-color-03: #00B295;
  // --primary-color-04: #191516;
  // --primary-color-05: #AB2346;

  --primary-text-color-01: #4a545e;

  --white-01: #ffffff;
  --white-02: #f3f3f9;

  --black-01: #000000;
  --black-02: #212529;
  --black-03: #353535;
}
